---
---

@import "{{ site.theme }}";

header h1 {
  display: none;
}

body {
  background-image: url("https://media1.tenor.com/m/-_q5E02A97oAAAAC/idle-pixel.gif");
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: -1;
}

.left-sidebar {
    position: fixed;
    left: 30px;
    top: 100px;
    width: 200px;
}
.right-sidebar {
    position: fixed;
    right: 30px;
    top: 100px;
    width: 200px;
}
* {
  text-align: center;
  color: blue;
}
