---
---

@import "{{ site.theme }}";

header h1 {
  display: none;
}
body {
    background-image: url("https://media1.tenor.com/m/-_q5E02A97oAAAAC/idle-pixel.gif");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
* {
  text-align: center;
  color: blue;
}
